.mh-search-container {
  background-color: #d00000;
  height: 10em;
}

.mh-featured-icon img,
.mh-featured-icon object {
  width: 43%;
}

.mh-featured h2 {
  color: inherit;
}

.mh-green {
  background-color: #00BD3C;
}

.mh-blue {
  background-color: #1B9AE8;
}

.mh-red {
  background-color: #D00000;
}